* {
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, select {
  font-size: 16px !important;
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}
